/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$material_icons_font_path: "~node_modules/@elemental-ui/core/assets/MaterialIcons";
$cadence_font_path: "~node_modules/@elemental-ui/core/assets/Cadence";
$source_sans_pro_font_path: "~node_modules/@elemental-ui/core/assets/Source_Sans_Pro";

@import "variables.scss";
@import '@elemental-ui/core/src/styles/core.scss';


.imx-dialog-panel-class > .mat-dialog-container {
    background-color: mat.get-color-from-palette($asher-gray-palette, 200);
}

.mat-snack-bar-container.mat-snack-bar-center.eui-alert-banner-panel {
    position: fixed;
    left: 0;
}
// ToDo (als Teil von 254128): später wieder einbinden, wenn wir den Styleguide soweit haben
// .pageContent > :last-child > h1 {
//   font-size: 24px;
//   margin: 20px 0 15px 45px;
//   font-weight: 600;
// }

imx-data-explorer-groups,
imx-data-explorer-identities,
imx-data-explorer-accounts {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    > .data-explorer--groups,
    .data-explorer--accounts {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        > :nth-child(2) {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
        }
    }

    .data-explorer--accounts {
        > :nth-child(2) {
            overflow: hidden;
        }
    }

    .data-explorer-table {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .data-explorer-table .mat-sidenav-content {
        overflow-y: auto !important;
    }
}

.data-explorer.data-explorer--identities.identities--fullscreen
{
    display: flex !important;  // TODO: Task 268556 : Styling direkt in der Komponente umsetzen
    flex-direction: column;
}

.governance-sidesheet__tab-content {
    height: calc(100% - 120px);
}

.eui-dark-theme {
    .loading-progress{
        background-color: $color-gray-70;
    }
    .mat-tab-group .mat-tab-header{
        background-color:$color-gray-80;
    }
     .eui-sidesheet
    {
        background-color:$color-gray-80;
        .mat-toolbar{
            background-color: $color-blue-80;
        }
        .background--asher-gray{
            background-color: $color-gray-80;
        }
    }
    .eui-sidesheet-actions.mat-card.eui-sidesheet-actions--white{
        background-color: $color-gray-70;
    }
}

.eui-contrast-theme {
  .loading-progress{
      background-color: $color-gray-90;
  }
  .mat-tab-group .mat-tab-header{
      background-color:$color-gray-100;
  }
   .eui-sidesheet
  {
      background-color:$color-gray-100;
      .mat-toolbar{
          background-color: $color-blue-90;
      }
      .background--asher-gray{
          background-color: $color-gray-90;
      }
  }
  .eui-sidesheet-actions.mat-card.eui-sidesheet-actions--white{
      background-color: $color-gray-90;
  }
}

/*ING Styles*/
//==========//

body {
    //loader 
    .mat-progress-spinner circle,
    .mat-spinner circle { stroke: $ING_Primary!important; }
    // Header
    .eui-top-navigation-desktop .eui-top-navigation .mat-button {
        &.eui-top-navigation-item-active,
        &.eui-top-navigation-item-active-link { border-bottom: 2px solid $ING_Primary; }
    }

    .mat-menu-item:hover:not([disabled]),
    //request details, direct reports info banner
    .data-explorer-card-header .data-explorer-card-header-bg,
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) { background: $ING_lighter_orange }

    .mat-toolbar.mat-primary,
    .eui-masthead,
    .mat-button-focus-overlay,
    // Tile button hover, close button, chips, toggle
    .mat-button.mat-primary .mat-button-focus-overlay,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar,
    .mat-flat-button.mat-primary,
    .mat-raised-button.mat-primary,
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb,
    .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary,
    .mat-form-field.mat-focused .mat-form-field-ripple { background: $ING_Primary; }
    // login arrow, button, info icons, popup-link, search toolbar, shoping cart icon, forms
    .imx-loginPage .mat-select-arrow,
    .mat-button.mat-primary,
    .mat-icon-button.mat-primary,
    .imx-card.mat-tooltip-trigger .imx-content span,
    .mat-dialog-container a,
    .imx-data-source-toolbar .eui-search-icon,
    .imx-data-source-toolbar .eui-icon.medium,
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
    .mat-form-field.mat-focused .mat-form-field-label,
    .eui-alert.eui-alert-type--info .eui-alert-icon,
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
    button[data-imx-identifier="dst-button-groupby"],
    button[data-imx-identifier="dst-mat-chip-list-sort-toggle"],
    .mat-expansion-indicator:after,
    imx-new-request-product .eui-icon.medium,
    .snavigation-side-content .eui-icon.medium,
    imx-info-button button,
    imx-shopping-cart-empty .mat-icon { color: $ING_Primary!important; }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar { background-color: $ING_light_orange!important; }
    .mat-chip.mat-standard-chip,
    .data-explorer-card-header  {
        border: 1px solid $ING_Primary;
        background-color: $ING_lighter_orange;
    }
    
}
button[data-imx-identifier="emptycart-link-requesthistory"]:hover,
button[data-imx-identifier="emptycart-link-saveforlater"]:hover,
imx-new-request-recipients .imx-card:hover { border: 1px solid $ING_Primary!important; }

// Sidenavigation text, toolbar buttons, no results table, reports info icon
.mat-sidenav .snavigation-side .snavigation-side-content .tree-item-button,
.data-explorer-card-header .data-explorer-card-header-bg .eui-icon,
.imx-toolbar .eui-icon.medium { color: unset!important; }
.imx-data-table-no-results .eui-icon.medium { color: $Imx_Ellipse_Gray!important;}
.snavigation .mat-sidenav-container .mat-sidenav .snavigation-side .snavigation-side-content .snavigation-item {
    &.snavigation-item--selected { background-color: $ING_Primary!important; }
    &:hover:not(.snavigation-item--selected) {
        background-color: $ING_lighter_orange!important;
    }
}

.go-to-cart,
.eui-badge .eui-badge-content {
    color: white!important;
    background-color: $ING_Primary!important;
}

.eui-alert.eui-alert-type--info.eui-alert-colored {
    background-color: $ING_info_orange!important;
}

.eui-sidesheet .mat-toolbar { background-color: $ING_blue!important;}

// Read-Only Sidesheets
#entitlementForm,
#form,
form {
    .mat-form-field-appearance-outline {
        .mat-form-field-outline-end,
        .mat-form-field-outline-start,
        .mat-form-field-outline-gap {
            border: none;
        }
    } 
    .mat-form-field { pointer-events: none;}
    .imx-suffix-container,
    mat-select[data-imx-identifier="cdr-edit-limited-value-select-Gender"] .mat-select-arrow-wrapper,
    imx-cdr-editor[data-imx-identifier="cdr-editor-IsNoInheriteToPerson"],
    imx-cdr-editor[data-imx-identifier="cdr-editor-IsForITShop"],
    imx-cdr-editor mat-checkbox[data-imx-identifier="cdr-edit-boolean-checkbox-IsITShopOnly"]
    { display: none!important;}
    
    imx-cdr-editor[data-imx-identifier="cdr-editor-JPegPhoto"] .imx-suffix-container {
        display: block!important;
        visibility: hidden!important;
    }
}

// Edit Application Entitlement - Hide checkbox
mat-checkbox[data-imx-identifier="cdr-edit-boolean-checkbox-IsApproveRequiresMfa"],
// Responsibilities toolbar buttons / Direct reports buttons
button[data-imx-identifier="roles-overview-button-restore"],
button[data-imx-identifier*="roles-overview-edit-element-button"],
button[data-imx-identifier="roles-overview-button-create-new"],
button[data-imx-identifier="groups-button-actions"],
button[data-imx-identifier="roles-secondary-memberships-request-button"],
button[data-imx-identifier="roles-secondary-memberships-remove-button"],
button[data-imx-identifier="button-dynamic-role-create"],
button[data-imx-identifier*="roles-entitlements"],

// Direct Reports
mat-select[data-imx-identifier="cdr-edit-limited-value-select-IdentityType"] .mat-select-arrow-wrapper,
mat-select[data-imx-identifier="cdr-edit-limited-value-select-EmployeeType"] .mat-select-arrow-wrapper,
mat-select[data-imx-identifier="cdr-edit-limited-value-select-LeaveOfAbsenceReason"] .mat-select-arrow-wrapper,
mat-slide-toggle[data-imx-identifier="identity-sidesheet-toggle-for-column-IsSecurityIncident"],
.mat-form-field-suffix,
button[data-imx-identifier="businessowner-chartsummary-tile-button-create-new-identity"],
button[data-imx-identifier="identities-button-create-new-identity"],
button[data-imx-identifier*="save"],
button[data-imx-identifier="attestation-case--button-actions"] { display: none!important; }

mat-checkbox[data-imx-identifier="cdr-edit-boolean-checkbox-IsPwdResetByHelpdeskAllowed"],
mat-checkbox[data-imx-identifier="cdr-edit-boolean-checkbox-IsTemporaryDeactivated"],
mat-checkbox[data-imx-identifier="cdr-edit-boolean-checkbox-IsExternal"],
mat-checkbox[data-imx-identifier="cdr-edit-boolean-checkbox-IsInActive"] { pointer-events: none; }